/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f8f9fc;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.nav a:hover {
  color: #4f46e5;
}

/* Cart Icon */
.cart-box {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  width: 28px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ef4444;
  color: white;
  padding: 3px 7px;
  font-size: 11px;
  border-radius: 50px;
}

/* Card */
.card {
  width: 400px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  gap: 20px;
  height: 200px;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h2 {
  margin: 0;
}

.card-content p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

/* Button */
.add-btn {
  width: 140px;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #4338ca;
}

.remove-btn{
    background: red;
}

.remove-btn:hover{
    background: rgb(116, 4, 4);
}
.clear{
  margin-top: 10px;
}